.usersContainer {
    padding: 20px;
    height: 300px;
}
.battlerContainer {
    float: left;
    width: 50%;
    background-color: antiquewhite;
    height: 100%;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
.pictureContainer {
    margin: auto;
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px;
    text-align: center;
}
.pictureContainer img {
    height: 100px;
    width: 90px;
}
.buttonsContainer {
    background-color: lightgray;
    height: 80px;
    text-align: center;
    padding-top: 2%;
    width: 70%;
    margin-left: 15%;
}
.buttonsContainer Button {
    margin-left: 30px;
}
.dialogueContainer {
    height: 300px;
    background-color: aquamarine;
    overflow-x: hidden;
    overflow-y: auto;
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1%;
    border-radius: 10px;
}