@media all and (min-width: 480px) {

    .Login {
        position: absolute;
        top: 25%;
        padding: 60px 0;
        background-color: rgba(255,255,255,0.7);
        border-radius: 20px;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }

    .Login Button {
        margin-bottom: 10px;
    }
}
