.root {
    max-width: 545px;
}

.media {
    height: 140px;
}

.selectionRoot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 25%;
    width: 400px;
    min-height: 500px;
    background-color: rgba(255,255,255, 0.6);
    border: 20px;
    font-family: RosesareFF0000;
    font-size: 1em;
    border-radius: 20px;
}

.image {
    height: 350px;
    image-rendering: crisp-edges;
}

.statsCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 400px;
}





