# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Concordia University\2021 Winter\SOEN-487-Web Services and Applications\Assignments\final_project\poketext\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
